<!doctype html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- css  -->
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ms-5 ps-5" href="#"><img
            src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/11/492-Bridge-logo.png" alt=""
            class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link ms-3 ps-5 mt-3 mb-4" href="#" style="font-size: 15px;font-weight:700;">HOME</a>
            </li>
            <li class="nav-item dropdown active ms-3 ps-5 mt-3" style="font-size: 15px;font-weight:700;">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">PAGES</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" style="font-size: 15px;font-weight:700;">Contact Us</a></li>
                <li><a class="dropdown-item" href="#" style="font-size: 15px;font-weight:700;">About Us</a></li>
                <li><a class="dropdown-item" href="#" style="font-size: 15px;font-weight:700;">FAQ Page</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-5 ms-3 mt-3 mb-4" href="#" style="font-size: 15px;font-weight:700;">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mt-3 ms-3 ps-5 me-5 pe-5 mb-4" href="#"
                style="font-size: 15px;font-weight:700;">BLOG</a>
            </li>
          </ul>
        </div>
      </div>
      <i class="fa-solid fa-heart pe-5 ps-5" style="font-size: 26px;"></i>
      <i class="fa-solid fa-bag-shopping me-5" style="font-size: 26px;"></i>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class=" sec1 position-relative">
                  <img src=""
                    alt="" class="img-fluid position-absolute top-50 start-50 translate-middle">
                  <p class="display-1 text-light position-absolute top-50 start-50 translate-middle"
                    style="letter-spacing: 50px;font-size: 150px;font-weight:600;">FLAME</p>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  <center>
                    <button class="bt1 fw-bold">VIEW DEMO</button>
                    <button class="bt2 fw-bolder ms-5">SHOP NOW</button>
                  </center>
                </div>
              </div>
              <div class="carousel-item">
                <div class=" sec2 position-relative">
                  <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/10/home-2-rev-bg-txt.png"
                    alt="" class="img-fluid position-absolute top-50 start-50 translate-middle">
                  <p class="display-1 text-light position-absolute top-50 start-50 translate-middle"
                    style="letter-spacing: 50px;font-size: 150px;font-weight:600;">LIGHT</p>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  <center>
                    <button class="bt1 fw-bold">VIEW DEMO</button>
                    <button class="bt2 fw-bolder ms-5">SHOP NOW</button>
                  </center>
                </div>
              </div>
              <div class="carousel-item">
                <div class=" sec3 position-relative">
                  <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/10/home-2-rev-bg-txt.png"
                    alt="" class="img-fluid position-absolute top-50 start-50 translate-middle">
                  <p class="display-1 text-light position-absolute top-50 start-50 translate-middle"
                    style="letter-spacing: 50px;font-size: 150px;font-weight:600;">SCENT</p>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  <center>
                    <button class="bt1 fw-bold">VIEW DEMO</button>
                    <button class="bt2 fw-bolder ms-5">SHOP NOW</button>
                  </center>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <center>
        <p style="font-size: 12px;letter-spacing: 7px;" class="fw-bold mt-5 pt-5">CANDLES & DIFFUSERS</p>
        <p style="font-size: 40px;letter-spacing: 7px;" class="fw-bold mt-3">WEEKLY BEST SELLERS</p>
      </center>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/shop-featured.png" alt=""
            class="img-fluid ms-5 ps-4" style="height: 200px;">
          <p class="h5 text-center mt-5" style="letter-spacing: 8px;">SAND SOAP</p>
          <p class="fs-6 text-secondary text-center fw-semibold">Fragrances, Insence, <br> Packaging</p>
          <p class="h5 text-center"><strong>$ 20.00</strong></p>
          <center><button class="bt2 mt-3 fw-bold">ADD TO CART</button></center>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/shop-featured.jpg" alt=""
            class="img-fluid ms-5 ps-4" style="height: 200px;">
          <p class="h5 text-center mt-5" style="letter-spacing: 8px;">WOOD CANDLE</p>
          <p class="fs-6 text-secondary text-center fw-semibold">Fragrances, Insence, <br> Packaging</p>
          <p class="h5 text-center"><strong>$ 20.00</strong></p>
          <center><button class="bt2 mt-3 fw-bold">ADD TO CART</button></center>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/shop-test-1.jpg" alt=""
            class="img-fluid ms-5 ps-4" style="height: 200px;">
          <p class="h5 text-center mt-5" style="letter-spacing: 8px;">GIFT CANDLE</p>
          <p class="fs-6 text-secondary text-center fw-semibold">Fragrances, Insence, <br> Packaging</p>
          <p class="h5 text-center"><strong>$ 20.00</strong></p>
          <center><button class="bt2 mt-3 fw-bold">ADD TO CART</button></center>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/shop-img-216.jpg" alt=""
            class="img-fluid ms-5 ps-4" style="height: 200px;">
          <p class="h5 text-center mt-5" style="letter-spacing: 8px;">TRIPAL LIGHT</p>
          <p class="fs-6 text-secondary text-center fw-semibold">Fragrances, Insence, <br> Packaging</p>
          <p class="h5 text-center"><strong>$ 20.00</strong></p>
          <center><button class="bt2 mt-3 fw-bold">ADD TO CART</button></center>
        </div>
      </div> <br><br><br>
      <div class="row mt-5 ">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-img-01.jpg" alt=""
            class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <br><br><br><br>
          <p class="h4 ms-5 ps-5 fw-bolder" style="letter-spacing: 8px;">NATURAL LIGHT</p>
          <p class="h6  ms-5 ps-5 mt-4" style="line-height:30px;color: grey;">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sedd eiusmod tempor incididunt ut labore et
            <br>
            dolore magna aliqua. Eiusmod tempor incididunt ut <br> labore et dolore.
          </p>
          <button class="bt2 fw-bolder mt-4" style="margin-left: 13%;">READ MORE</button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-6 col-md-12 col-sm-12 text-light" style="background-color:black;">
          <br><br><br><br><br>
          <p class="h4 ms-5 ps-5 fw-bolder" style="letter-spacing: 8px;">NATURAL LIGHT</p>
          <p class="h6  ms-5 ps-5 mt-4" style="line-height:30px;font-weight: 450;">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sedd eiusmod tempor incididunt ut labore et
            <br>
            dolore magna aliqua. Eiusmod tempor incididunt ut <br> labore et dolore.
          </p>
          <button class="bt1 fw-bolder mt-4" style="margin-left: 13%;">READ MORE</button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-img-02.jpg" alt=""
            class="img-fluid">
        </div>

      </div>
      <div class="row mt-5 ">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/h1-img-1a.jpg" alt=""
            class="img-fluid" style="height: 700px;width: 85%;">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-img-08.jpg" alt=""
            class="img-fluid">
          <p class="h4  fw-bolder text-center" style="letter-spacing: 8px;">NATURAL LIGHT</p>
          <p class="h6 mt-4 text-center" style="line-height:25px;font-weight:450;letter-spacing: 2px;">
            Lorem ipsum dolor sit amet, consectetur adipi, scing <br> seddo eiusmod tempor incididunt ut labore et
            dolore
            <br> magna aliqua. Pretium quam vulputate.
          </p>
          <p class="text-center pt-3 "><strong><u>SHOP NOW</u></strong></p>
        </div>
      </div>
      <div class="sec4 mt-5 pt-5">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="s41 ms-5"> <br>
          <p class="h4 pt-4 ps-5" style="letter-spacing: 5px;">NATURAL AROMA</p>
          <p class="pt-2 ps-5" style="font-size: 18px;">Ultrices dui sapien miproin velit <br> egestas duisefpal rateus.
            Vel facil <br> siseros volutpat
            est.</p>

        </div>
      </div>
      <center> <br>
        <p style="font-size: 12px;letter-spacing: 7px;" class="fw-bold mt-5 pt-5">CANDLES & DIFFUSERS</p>
        <p style="font-size: 40px;letter-spacing: 7px;" class="fw-bold mt-3">FOR MODERN HOMES</p>
      </center>
      <div class="container">
        <div class="row mt-5 pt-5">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/blog-1-img-04-600x738.jpg" alt=""
              class="img-fluid">
            <p class="mt-5 fw-bolder" style="letter-spacing: 5px;font-size: 13px;">CANDLES,HANDMADE</p>
            <p class="h4 fw-bolder" style="letter-spacing: 4px;">PACHOULI DIFFUSER</p>
            <p class=" text-secondary mt-3" style="font-size: 17.5px;">Turpis cursus in hac habitasse platea <br>
              dictumst quisque sagittis purus. <br> Dignissim...</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/blog-1-img-05a-600x738.jpg"
              alt="" class="img-fluid">
            <p class="mt-5 fw-bolder" style="letter-spacing: 5px;font-size: 13px;">CANDLES,HANDMADE</p>
            <p class="h4 fw-bolder" style="letter-spacing: 4px;">HANDMADE SOAP WORKSHOP</p>
            <p class=" text-secondary mt-3" style="font-size: 17.5px;">Turpis cursus in hac habitasse platea <br>
              dictumst quisque sagittis purus. <br> Dignissim...</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/blog-1-img-06a-600x738.jpg"
              alt="" class="img-fluid">
            <p class="mt-5 fw-bolder" style="letter-spacing: 5px;font-size: 13px;">CANDLES,HANDMADE</p>
            <p class="h4 fw-bolder" style="letter-spacing: 4px;">NEW ORGANIC OILS</p>
            <p class=" text-secondary mt-3" style="font-size: 17.5px;">Turpis cursus in hac habitasse platea <br>
              dictumst quisque sagittis purus. <br> Dignissim...</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/blog-1-img-07a-600x738.jpg"
              alt="" class="img-fluid">
            <p class="mt-5 fw-bolder" style="letter-spacing: 5px;font-size: 13px;">CANDLES,HANDMADE</p>
            <p class="h4 fw-bolder" style="letter-spacing: 4px;">THE ART OF PERFECT SCENT</p>
            <p class=" text-secondary mt-3" style="font-size: 17.5px;">Turpis cursus in hac habitasse platea <br>
              dictumst quisque sagittis purus. <br> Dignissim...</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-img-05.jpg  " alt=""
            class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-light mt-5" style="background-color:black;">
          <br><br>
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-icon-01.png" alt=""
            class="img-fluid mt-5 ps-5 me-5" style="float: left;height: 25px;">
          <p class="h4 mt-5 fw-bolder" style="letter-spacing: 8px;">INSTANT PAYMENT</p>
          <p class="h6  ms-5 mt-3" style="line-height:30px;font-weight: 450;padding-left: 89px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit, sedd eiusmod tempor incididunt ut labore <br>
          </p>
          <br><br>
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/h1-icon-02.png" alt=""
            class="img-fluid mt-5 ps-5 me-5" style="float: left;height: 25px;">
          <p class="h4 mt-5 fw-bolder" style="letter-spacing: 8px;">ENVIRONMENT SAFE </p>
          <p class="h6  ms-5 mt-3" style="line-height:30px;font-weight: 450;padding-left: 89px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit, sedd eiusmod tempor incididunt ut labore <br>
          </p>
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-lg-6 col-md-12 col-sm-12"> <br><br><br><br><br><br><br><br><br><br>
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/10/testimonials.png" alt=""
            class="img-fluid mt-5 pt-5 ms-5 ps-5">
          <p class="mt-5 fw-semibold ms-5 ps-5" style="letter-spacing: 5px;font-size: 15px;">YOU SAID ABOUT US </p>
          <div class="slider">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p class="h3 fw-bolder mt-4" style="letter-spacing: 7px;">GREAT SERVICE</p>
                  <p class="mt-4" style="font-size: 19px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                  <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/user-img-03-1.jpg" alt=""
                    class="img-fluid  pe-4 mt-4" style="height: 60px;float: left;">
                  <p class="h6 fw-bold mt-5" style="letter-spacing: 5px;">TERRY ORTEGA</p>
                  <p style="color: grey;font-size: 18px;">Interior Designer</p>
                </div>
                <div class="carousel-item">
                  <p class="h3 fw-bolder mt-4" style="letter-spacing: 7px;">GREAT SERVICE</p>
                  <p class="mt-4" style="font-size: 19px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                  <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/user-img-02.jpg" alt=""
                    class="img-fluid  pe-4 mt-4" style="height: 60px;float: left;">
                  <p class="h6 fw-bold mt-5" style="letter-spacing: 5px;">LOREN EVANS</p>
                  <p style="color: grey;font-size: 18px;">Decorator</p>
                </div>
                <div class="carousel-item">
                  <p class="h3 fw-bolder mt-4" style="letter-spacing: 7px;">GREAT SERVICE</p>
                  <p class="mt-4" style="font-size: 19px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                  <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/user-img-01a.jpg" alt=""
                    class="img-fluid  pe-4 mt-4" style="height: 60px;float: left;">
                  <p class="h6 fw-bold mt-5" style="letter-spacing: 5px;">ANNA GRAY</p>
                  <p style="color: grey;font-size: 18px;">Architect</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2023/09/h1-img-10a.jpg" alt=""
            class="img-fluid" style="height:850px;">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-2 col-md-6 col-sm-12 i1">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 i2">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 i3">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 i4">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 i5">
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 i6">
        </div>
      </div>
      <div class="footer row">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12  mt-5 pt-5 ps-5">
              <ul style="list-style: none;">
                <li><b style="letter-spacing: 4px;">CONTACT</b></li> <br>
                <li style="font-size: 18px;color: rgb(205, 205, 205);">A: Seestrasse 21, Zurich, CH</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">T: +417 17 4178 88</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">bridge@qodeinteractive.com</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">IG _bridgecandleshop</li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  mt-5 pt-5 ps-5">
              <ul style="list-style: none;">
                <li><b style="letter-spacing: 4px;">SERVICES</b></li> <br>
                <li style="font-size: 18px;color: rgb(205, 205, 205);">Exclusive offers</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Gifts</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Store location</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Corporate sales</li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  mt-5 pt-5 ps-5">
              <ul style="list-style: none;">
                <li><b style="letter-spacing: 4px;">ORDERS</b></li> <br>
                <li style="font-size: 18px;color: rgb(205, 205, 205);">My accounts</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Delivery information</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Track my order</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Help</li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  mt-5 pt-5 ps-5">
              <ul style="list-style: none;">
                <li><b style="letter-spacing: 4px;">MOST POPULAR</b></li> <br>
                <li style="font-size: 18px;color: rgb(205, 205, 205);">Bergamot Collection</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Hulie divine</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">La note de Paris</li>
                <li style="font-size: 18px;color: rgb(205, 205, 205);" class="pt-2">Pachouli Home</li>
              </ul>
            </div>
          </div>
          <br><br><br><br><br><br>
          <hr>
          <div class="row">
            <div class="col-4">
              <p class="fs-6 ps-5 ms-5 opacity-50">Terms of Use <span class="ps-4">Privicy</span></p>
            </div>
            <div class="col-4">
              <img src="https://bridge492.qodeinteractive.com/wp-content/uploads/2021/05/payment-01.png" alt=""
                class="img-fluid ms-5">
            </div>
            <div class="col-4">
              <p class="fs-6 ms-5 opacity-50">© 2024 Qode Interactive, All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>

  </html>