<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erpress js:-crud</title>
</head>
<style>

</style>
<body>
    <h1>Edit Data</h1>

    <form action="/updateData" method="post">
        <input type="text" value="<%=singleData.id%>" placeholder="Enter your Phone" name="id" hidden>
        <input type="text" value="<%=singleData.name%>" placeholder="Enter your Name" name="name">
        <button type="submit">Update</button>
    </form>
    

    
</body>
</html>